.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    z-index: 999;
    &-user {
        float: right;
        color: #1890ff;
        cursor: pointer;
    }
}