.detailContent {
    &-icon {
        padding: 10px 30px;
        border-bottom: 1px solid #e8e8e8;
        i {
            font-size: 50px;
        }
        &-right {
            display: inline-block;
            margin-left: 10px;
            div {
                font-weight: bold;
            }
        }
    }
}